<h1>
    Login
</h1>

<form action="" method="post">
    <input type="text" name="username" id="uname" placeholder="Enter username">
    <input type="password" name="password" placeholder="Enter passoword">
    <input type="submit" value="Login">
</form>